
.button{
    background-color: blue;
    font-size: 200%;
    
    
}
.container{
    text-align: center;
    bottom: 20%;
}
.container2{
    text-align: center;
    bottom: 20%;
}
.par{
    text-align: center;
    font-size: 300%;
}